<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<array>
		<string>zh-CN</string>
		<string>en-US</string>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>F-DEMO</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
		<string>baidumap</string>
		<string>iosamap</string>
		<string>waze</string>
		<string>yandexmaps</string>
		<string>yandexnavi</string>
		<string>citymapper</string>
		<string>mapswithme</string>
		<string>osmandmaps</string>
		<string>dgis</string>
		<string>qqmap</string>
		<string>here-location</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>请点击“好”以允许访问。若不允许，你将无法给好友发送或者上传本地相册图片及视频内容。</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>App requires access to Bluetooth to connect to devices.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>App requires access to Bluetooth to communicate with peripheral devices.</string>
	<key>NSCameraUsageDescription</key>
	<string>请点击“好”以允许访问。若不允许，你将无法使用拍照、录制视频、扫一扫等功能。</string>
	<key>NSFaceIDUsageDescription</key>
	<string>请点击“好”以允许访问。若不允许，你将无法使用Touch ID 或 Face ID解锁功能。</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>请点击“好”以允许访问。若不允许，你将无法使用聊天时发送定位等功能。</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>请点击“好”以允许访问。若不允许，你将无法使用聊天时发送定位等功能。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>请点击“好”以允许访问。若不允许，你将无法使用聊天时发送定位等功能。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>请点击“好”以允许访问。若不允许，你将无法使用视频通话、发送语音消息或录制视频等功能。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>请点击“好”以允许访问。若不允许，你将无法给好友发送或者上传本地相册图片及视频内容。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>请点击“好”以允许访问。若不允许，你将无法给好友发送或者上传本地相册图片及视频内容。</string>
	<key>RTCAppGroupIdentifier</key>
	<string>group.cn.rentsoft.openim.flutter.rtc</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
